<?xml version="1.0" encoding="utf-8" ?>

<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProperty scope="context" name="application" source="spring.application.name" defaultValue="spring" />

    <property name="FILE" value="${java.io.tmpdir}/${application}/${application}.log" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %clr(%5p) [%15.15t] %clr(%-40.40logger{39}){cyan} %5.5L: %m%n%wEx</pattern>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE}</file>
        <encoder>
            <pattern>%d{ISO8601} %5p [%15.15t] %-40.40logger{39} %5.5L: %m%n%wEx</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${FILE}.%d{yyyy-MM-dd}.%i.gz}</fileNamePattern>
            <cleanHistoryOnStart>false</cleanHistoryOnStart>
            <maxFileSize>30MB</maxFileSize>
            <totalSizeCap>0</totalSizeCap>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="Console" />
        <appender-ref ref="RollingFile" />
    </root>

    <logger name="work.gaigeshen" level="debug" />

</configuration>
